.resetbuttonforlistselect-resetbutton:before {
	content: "X";
}

.resetbuttonforlistselect-resetbutton {
	position: relative;
	display: inline-block;
	vertical-align: bottom;
	cursor: pointer;
	float: right;
	font-family: FontAwesome;
}

.resetbuttonforlistselect-resetbutton:hover {
	color: rgb(67, 150, 234);
	cursor: pointer;
}

.v-caption-resetbuttonforlistselect .v-captiontext {
	float: left;	
}